header {

   display: flex;
   justify-content: center;
   background-size: 500px;
   flex-direction: column;
   align-items: center;
   margin-bottom: 0px;
   padding-top: 110px;
   position: relative;
   width: 100%;



}

#hero {
   background-image: url(img/scott-gummerson-Zt1j8RuCcqo-unsplash.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: contain;
   width: 100%;
   mar
}


a {
   color: #303641;
}

img {
   border-radius: 50%;
   border: 5px solid #479cd0;
   height: 400px;
   width: 350px;



}


body {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: rgb(61, 52, 52);
   background-color: #fdfdfd;
   margin: 5px;
   top: 0;
   left: 0;
   font-size: 20px;

}

#my_p_tag {
   color: #479cd0;
   background-color: black;


}

h1 {
   color: #479cd0;

}

h2 {
   color: #303641;
}

h3 {
   color: #303641;
}

.myDiv {
   padding: 1px;
   margin: 1px;
   background-color: #fdfdfd;
   height: fit-content;
   width: 170px;
   position: sticky;
   top: 100px;
}

.education {
   margin: 20px;
   padding: 40px;
   border: solid #479cd0;

}

.experience {
   margin: 20px;
   padding: 40px;
   border: solid #479cd0;
}

.skills {
   margin: 20px;
   padding: 40px;
   border: solid #479cd0;
   flex: 2;
   color: #303641;
}

footer {
   margin: 20px;
   padding: 40px;
   border: solid #479cd0;
   flex: 2;
}

#h1 {
   position: fixed;
   background-color: #303641;
   padding: 30px;
   width: 100%;
   z-index: 1;
   top: 0;
   left: 0;
   text-align: center;
   margin: 0;
}



.box {
   display: flex;
   padding: 20px;
   font-size: 12px;
   margin: 5px;
}


/*=======================================Mobile===========================================================*/

@media screen and (max-width: 450px) {

   body {
      padding: 0px;
      border: 10px;
      width: 100%;


   }

   img {
      width: 120px;
      height: 150px;
   }


   header {

      line-height: 25px;
      font-size: 10px;
      padding-left: 20px;
      padding-right: 50px;
      height: 200px;
      width: 100%;
      margin: 0;
      right: 0;
      left: 0;
   }

   .myDiv {
      font-size: 10px;
      margin: 0px;
   }

   .education {
      font-size: 10px;
      margin: 20px;
      width: 90%;
      padding: 4px;
   }


   .experience {
      margin: 20px;
      width: 90%;
      padding: 4PX;
      font-size: 10px;

   }


   .skills {
      margin: 1;
      padding: 10;
      width: 100%;

   }

   .contacts
}

h1 {
   font-size: 12;
   padding: 10px;
   padding-right: 2px;
}


h2 {
   font-size: 10px;

}


h3 {
   font-size: 8px;
}

footer {
   margin: 1px;
   padding: 5px;




}


/*----------------------------------------Tablet-------------------------------------------------------*/
@media screen and (max-width:769px) {
 
}







/*----------------------------------------Standard Desktop-------------------------------------------------------*/

@media screen and (min-width:1224px) {




   header {
      font-size: 30px;
      padding-left: 20px;
      padding-right: 50px;
      height: 500px;
      width: 100%;
      margin: 0;

   }


   #h1 {
      font-size: 30px;
   }




   .myDiv {
      width: 20%;
      display: inline-block;
      width: 100%;
   }

   h1 {
      font-size: 20px;
   }

   h2 {
      font-size: 18px ;

   }

   h3 {
      font-size: 14px;
   }


   body {
     font-size: 20px;
   }

   .skills {
      font-size: 20px;
   }

   footer {
      margin: 1px;
      padding: 5px;
      font-size: 20px;

      

}