header {

   display: flex;
   justify-content: center;
   background-size: 500px;
   flex-direction: column;
   align-items: center;
   margin-bottom: 0px;
   padding-top: 110px;
   position: relative;


}

#hero {
  background-image: url(img/scott-gummerson-Zt1j8RuCcqo-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}


a {
   color: #303641;
}

img {
   border-radius: 50%;
}


body {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: rgb(61, 52, 52);
   background-color: #fdfdfd;
}

#my_p_tag {
   color:#479cd0;
}

h1 {
   color: #479cd0;
}

h2 {
   color: #303641;
}

h3 {
   color: #303641;
}

.myDiv {
   padding: 10px;
   margin: 1px;
   background-color: #fdfdfd;
   height: fit-content;
   width: 200px;
   position: sticky;
   top: 100px;
}

.education {
   margin: 20px;
   padding: 40px;
   border: solid #479cd0;
   flex: 3;
}

.experience {
   margin: 20px;
   padding: 40px;
   border: solid #479cd0;
}

.skills {
   margin: 20px;
   padding: 40px;
   border: solid #479cd0;
   flex: 2;
   color: #303641;
}

footer {
   margin: 20px;
   padding: 40px;
   border: solid #479cd0;
   flex: 2;
}

#h1 {
   position: fixed;
   background-color: #303641;
   padding: 30px;
   width: 100%;
   z-index: 1;
   top: 0;
   left: 0;
   text-align: center;
   margin: 0;
}



.box {
   display: flex;
}


