body{
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: rgb(61, 52, 52);
background-color: lavender;
}
#my_p_tag {color: ;}

h1 {
    color:purple;
}

h2 {
color:darkmagenta;

}

h3 {color: indigo;}

.myDiv {
    border: 5px outset rgb(14, 28, 57);
    background-color: lightblue;   